/* フォントNoto Sans */
.wf-notosansjapanese { 
    font-family: "Noto Sans JP"; 
}

/* 文字の調整 */
h1 {
    text-align: center;
    font-size: 35pt;
    font-weight: bold;
    padding-bottom: 20px;
}
p {
    font-size: 12pt;
}

/* mvを1920×1080に調節する */
.img_mv {
    text-align: center;
    background-color: white;
}

/* キャッチコピーを1920×1080に調節する */
.catch_copy {
    padding: 30% 0%;
    color: #243583;
    font-size: 40pt;
}

/* 画像の上に文字を乗せる */
.img_main_blur {
    position: relative;
}
.text_main_blur {
    position: absolute;
    top: 10%;
    left: 20%;
}
.text_main_blur p {
    margin: 100px 0px 0px 100px;
}

/* 上下空白調整 */
.encounter {
    padding: 200px 0px ;
}
.encounter h1 {
    padding-bottom: 0px;
}

/* 画像を文字の横に置く */
.hero {
    display: flex;
}
.partner_sifolu {
    display: flex;
    padding: 1px 0px 0px 20%;
}

/* 「主人公」空白調整 */
.hero p {
    padding: 10% 0px 0px 20%;
}
/* 「相棒のシフォル」空白調整 */
.partner_sifolu p {
    padding: 50px 0px 0px 18%;
}

/* sectionごとの下の空白調整 */
.blank {
    padding-bottom: 200px;
}
.cooperation {
    padding-bottom: 8%;
}

/* p空白調整 */
.blank p {
    padding: 20px 0px 0px 25%;
}
.cooperation p {
    padding: 20px 0px 0px 25%;
}

/* 全体調整 */
.explanation {
    padding: 10% 0px 10% 20%;
    line-height: 3em;
}
/* display:flexにする */
.flex {
    display: flex;
}
/* 文字調整 */
.flex p {
    border-bottom: solid 1px darkgray;
    width: 40%;
}
.flex_inner {
    line-height: 1.5em;
    padding: 1em 0em;
}

/* 画像たち */
.img {
    text-align: center;
}
.mv {
    width: 80%;
}
.main_blur {
    width: 100%;
}
.character {
    width: 580px;
}
.sifolu {
    width: 280px;
}
.cg {
    width: 80%;
}
.undersea_blur {
    width: 80%;
}
.ui {
    width: 80%;
}
.logo {
    width: 30%;
}

/* 背景画像適応範囲 */
.background {
    background-image: url("images/background.jpg");
    background-size: 100%;
    color: white;
}

/* !!!レスポンシブ!!! */

/*デバイスの横幅が481以上768以下の場合*/
/* 主にiPad向け */
@media only screen and (min-width: 481px) and (max-width: 768px) {
     
    
 
} 
 
/* デバイスの横幅が480px以下の場合 */
/* 主にスマホ向け */
@media only screen and (max-width: 480px) {

    /* 文字の調整 */
    h1 {
        font-size: 20pt;
        padding-bottom: 10px;
    }
    p {
        font-size: 11pt;
    }
    /* キャッチコピーを調節する */
    .catch_copy {
        padding: 60% 10%;
        font-size: 20pt;
    }
    /* mvを調節する */
    .img_mv {
        padding: 40% 0%;
    }
        
    /* 背景画像適応範囲 */
    .background {
        background-image: url("images/background.png");
        background-size: 100%;
        color: black;
    }
    /* 画像の上に文字を乗せない */
    .img_main_blur {
        position: static;
    }
    .text_main_blur {
        position: static;
    }
    .text_main_blur p {
        margin: 20px 0px 100px 30px;
    }
    /* 上下空白調整 */
    .encounter {
        padding: 50px 0px ;
}

    /* 画像たち */
    .mv {
        width: 100%;
    }
    .main_blur {
        width: 100%;
        
    }
    .character {
        width: 70%;
        height: 70%;
    }
    .sifolu {
        width: 50%;
        height: 50%;
    }
    .cg {
        width: 90%;
    }
    .undersea_blur {
        width: 90%;
    }
    .ui {
        width: 90%;
    }
    .logo {
        width: 60%;
    }
    
 
} 